<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187810370917-uk40cintsb81p92m701qvh10ogf5n2r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187810370917-uk40cintsb81p92m701qvh10ogf5n2r1</string>
	<key>API_KEY</key>
	<string>AIzaSyDMhB7ivjYa0sG8tz15MFWZJQW6dqmAypk</string>
	<key>GCM_SENDER_ID</key>
	<string>187810370917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chapman.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-9b7e7</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-9b7e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187810370917:ios:55df5bce90e87b2d24bd8c</string>
</dict>
</plist>